.todo-item {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #B5B5BA; */
}

.todo-item_content {
  display: flex;
  align-items: center;
  /* gap: 0.5rem; */
  margin-left: 0.5rem;
}

.todo-item_content label {
  font-size: 0.85rem;
  cursor: default;
  user-select: none;
}

.todo-item_content input[type="checkbox"] {
  margin-right: 0.7rem;
  cursor: pointer;
  accent-color: #B5B5BA;
}

.todo-item_content label.completed {
  color: #B5B5BA;
  text-decoration: line-through;
}

.todo-item_actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 0.5rem;
}

.todo-item_edit{
  color: rgb(74, 74, 174);
  width: fit-content;
  border: none;
}
.todo-item_delete {
  width: fit-content;
  color: rgb(244, 75, 75);
  background: none;
  border: none;
  cursor: pointer;
}

/* Estilo para o input de edição */
.edit-input {
  border: 1px solid #ddd;
  padding: 0.3rem;
  border-radius: 3px;
  width: 100%;
  font-size: 1rem;
}

/* Faz o título ocupar todo o espaço disponível */
.todo-title {
  flex-grow: 1;
  cursor: text;  /* Mostra o cursor de texto ao passar o mouse */
}

/* Garante que o conteúdo ocupe todo o espaço */
.todo-item_content {
  flex-grow: 1;
  min-width: 0;  /* Permite que o texto quebre */
  max-width: 77%;
}

/* Estilo para o texto cortado com reticências */
.todo-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button:hover {
  filter: brightness(1.2);
}

