<div class="todo-container">
  <!-- formulário de adição de tarefas -->
  <div class="todo-form">
    <app-new-task></app-new-task>
  </div>
  <div class="todo-buttons">
    <!-- botao para ordernar de A - Z -->
    <button class="toggle-button" (click)="sortTodos()" title="Ordenar tarefas por ordem alfabética">
      Ordenar (A-Z)
    </button>
    <!-- botão para alternar a visibilidade das tarefas concluídas -->
    <button class="toggle-button" (click)="toggleCompletedTasks()" title="Mostrar ou ocultar tarefas concluídas">
      {{ showCompletedTasks ? 'Ocultar Tarefas Concluídas' : 'Mostrar Tarefas Concluídas' }}
    </button>
    <!-- botão para limpar as tarefas concluídas -->
    <button (click)="clearCompletedTasks()" title="Limpar tarefas concluídas">Limpar Tarefas Concluídas</button>
    <!-- botão para limpar todas as tarefas -->
    <button (click)="clearAll()" [innerHTML]="labelClearAll" title="Limpar todas as tarefas"></button>
    <!-- botão para exportar para PDF -->
    <button (click)="gerarPDF()" class="btn-export" title="Exportar todos para PDF">
      <i class="fas fa-file-pdf"></i> PDF
    </button>
  </div>

  <!-- lista de tarefas -->
  <div class="todo-list_container">
    <div class="todo-list_todo">
      <app-todo-item
        *ngFor="let todo of todos"
        [todo]="todo"
      ></app-todo-item>
    </div>
  </div>
</div>
